<footer class="container grid-md text-center">
  <div class="columns">
    <div class="column col-4 col-sm-12">
      <a href="/terms" target="_blank">Terms of service</a>
    </div>
    <div class="column col-4 col-sm-12">
      <a href="/privacy" target="_blank">Privacy policy</a>
    </div>
    <div class="column col-4 col-sm-12">
      © 2019 Conscientious
    </div>
  </div>
</footer>