<nav class="flex flex-between flex-wrap">
  <div>
    <a href="/" class="logo">
      <img src="/images/conscientious-logo.svg" alt="Conscientious Logo" width="80">
      <span>Conscientious</span>
    </a>
  </div>
  <div class="links">
    <!-- <a href="/motivation">The Motivation</a> -->
    <a href="#waitlist" class="btn">Get Early Access</a>
  </div>
</nav>