<nav class="flex flex-between flex-wrap">
  <div>
    <a href="/" class="logo">
      <img src="/images/deepmode-logo.svg" alt="Deepmode Logo" width="50">
      <span>Deepmode</span>
    </a>
  </div>
  <!-- <div class="links">
    <a href="/motivation">Motivation</a>
    <a href="/#waitlist" class="btn">Get Early Access</a>
  </div> -->
</nav>