<div class="container grid-md">
  <nav class="flex flex-between flex-wrap">
    <div>
      <a href="/" class="logo">
        <img src="/images/deepmode-logo.svg" alt="Deepmode Logo" width="50">
        <span class="<%= light ? 'text-light' : '' %>">Deepmode</span>
      </a>
    </div>
    <div class="links">
      <a class="<%= light ? 'text-light' : '' %>" href="/roadmap">Roadmap</a>
      <a class="<%= light ? 'text-light' : '' %>" href="/blog">Blog</a>
      <a class="<%= light ? 'text-light' : '' %>" href="/#waitlist">Get Early Access</a>
    </div>
  </nav>
</div>