<nav class="flex flex-between flex-wrap">
  <div>
    <a href="/" class="logo">
      <img src="/conscientious-logo.svg" alt="Conscientious Logo" width="50">
      <span>Conscientious</span>
    </a>
  </div>
  <div class="links">
    <a href="/blog">Blog</a>
    <a href="" class="btn">Get Extension</a>
  </div>
</nav>