<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/docHead", {}) %>
  <link rel="stylesheet" href="/styles/index.css">
  <title>Deepmode | Fight Distraction On The Internet</title>
</head>
<body>
  <%- include("../partials/nav", {}) %>
  <section id="splash">
    <div class="container grid-md">
      <div class="columns">
        <div class="column col-8 col-sm-12 col-mx-auto">
          <h1>
            Block <em class="text-italic">every</em> distraction online, not just your blacklist
          </h1>
          <p>
            Deepmode uses AI to recognise and prevent distractions as they appear, keeping you mindful and productive.
          </p>
        </div>
        <!-- <div class="column col-5 col-sm-12">
          <img src="/images/browser-block.svg" width="100%">
        </div> -->
      </div>
      <div class="columns">
        <div class="column text-center">
          <a href="#waitlist" class="btn">Get Early Access For Free</a>
          <!-- <button class="btn">The Motivation</button> -->
        </div>
      </div>
    </div>
  </section>
  <section id="features-and-benefits">
    <div class="container grid-md">
      <div class="columns">
        <div class="column col-6 col-sm-12">
          <h3>
            Stay on task
          </h3>
          <p>
            Tell Deepmode what you're working on and it will analyze the contents of any webpage to understand whether it's relevant and block pages that aren't.
          </p>
        </div>
        <div class="column col-6 col-sm-12">
          <img class="p-centered" src="/images/note-pin.svg" alt="AI icon" width="300">
        </div>
      </div>
      <div class="columns">
        <div class="column col-6 col-sm-12">
          <img class="p-centered" src="/images/design.svg" alt="Todo icon" width="300"> 
        </div>
        <div class="column col-6 col-sm-12">
          <h3>Avoid "distraction by design"</h3>
          <p>
            Sites like YouTube and Facebook can of course be good, but the mindless rabbit holes users often find themselves going down are almost always bad. Deepmode redesigns or removes the most distracting features from popular sites so that you can use them mindfully even when you're not working.
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column col-6 col-sm-12">
          <h3>Build good attention habits</h3>
          <p>
            Going cold turkey can be useful for short periods of time, but to beat distraction over the long term you need to cultivate and reinforce habits in order to become a better version of yourself. Deepmode helps you do just that.
          </p>
        </div>
        <div class="column col-6 col-sm-12">
          <img class="p-centered" src="/images/brain-training-icon.svg" alt="Brain training icon" width="300">
        </div>
      </div>
    </div>
  </section>
  <section id="waitlist">
    <div class="container grid-md">
      <div class="divider"></div>
      <div class="columns">
        <div class="column">
          <%- include("../partials/earlyAccess", {}) %>
        </div>
      </div>
    </div>
  </section>
  <%- include("../partials/footer", {}) %>
</body>
</html>