<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/docHead", {}) %>
  <link rel="stylesheet" href="/styles/index.css">
  <title>Deepmode | Fight Distraction On The Internet</title>
</head>
<body>
  <%- include("../partials/nav", {}) %>
  <section id="splash">
    <div class="container grid-sm">
      <div class="columns">
        <div class="column">
          <h1 class="text-center">Stay on task online</h1>
          <p class="text-center">
            A Chrome extension that prevents distraction and boosts productivity.
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column flex-centered">
          <a href="#waitlist" class="btn">Get Early Access</a>
          <!-- <button class="btn">The Motivation</button> -->
        </div>
      </div>
    </div>
  </section>
  <section id="features-and-benefits-1">
    <div class="container grid-md">
      <div class="columns">
        <div class="column col-6 col-sm-12">
          <h3>
            Block <em class="text-italic">all</em> distractions, not just a few sites 
          </h3>
          <p>
            Instead of just using a blacklist, Deepmode determines the relevance of any webpage to what you are supposed to be working on and blocks those that are distracting.
          </p>
        </div>
        <div class="column col-6 col-sm-12">
          <img class="p-centered" src="/images/block-icon.svg" alt="AI icon" width="300">
        </div>
      </div>
      <div class="columns">
        <div class="column col-6 col-sm-12">
          <img class="p-centered" src="/images/todo-icon.svg" alt="Todo icon" width="300"> 
        </div>
        <div class="column col-6 col-sm-12">
          <h3>Get your most important work done</h3>
          <p>
            Every time you get distracted online it takes time to readjust your focus to the original task. Deepmode prevents attention hijacking from taking place to begin with.
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column col-6 col-sm-12">
          <h3>Reinforce positive attention habits</h3>
          <p>
            Many websites are using ethically questionable tactics to form habits that keep you coming back but make you less happy and less productive. Deepmode can help you build positive habits of avoiding distraction instead.
          </p>
        </div>
        <div class="column col-6 col-sm-12">
          <img class="p-centered" src="/images/brain-training-icon.svg" alt="Brain training icon" width="300">
        </div>
      </div>
    </div>
  </section>
  <section id="waitlist">
    <div class="container grid-md">
      <div class="divider"></div>
      <div class="columns">
        <div class="column">
          <%- include("../partials/earlyAccess", {}) %>
        </div>
      </div>
    </div>
  </section>
  <%- include("../partials/footer", {}) %>
</body>
</html>