<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/docHead", {}) %>
  <link rel="stylesheet" href="/styles/index.css">
  <title>Deepmode | Fight Distraction On The Internet</title>
</head>
<body>
  <section id="splash">
    <%- include("../partials/nav", { light: true }) %>
    <div class="container grid-lg">
      <div class="columns">
        <div class="column col-10 col-sm-12 col-mx-auto">
          <h1 class="text-light text-center">
            Goodbye distraction. Hello productivity.
          </h1>
          <p class="text-light text-center">
            A Chrome extension that recognises and blocks <em class="text-italic">every</em> distraction, keeping you mindful and productive
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column col-8 col-sm-12 col-mx-auto">
          <img id="demo" src="https://deepmode.s3.eu-west-2.amazonaws.com/deepmode-demo.gif" width="100%">
        </div>
      </div>
      <div class="columns">
        <div class="column text-center">
          <a href="#waitlist" class="btn">Get Early Access</a>
          <!-- <button class="btn">The Motivation</button> -->
        </div>
      </div>
    </div>
  </section>
  <section id="features-and-benefits">
    <div class="container grid-md">
      <div class="columns">
        <div class="column col-6 col-sm-12">
          <h3>
            Stay on task
          </h3>
          <p>
            Once you've set a task, Deepmode checks every new page for relevance. If a new page is off task, it gets blocked.
          </p>
        </div>
        <div class="column col-6 col-sm-12">
          <img class="p-centered" src="https://deepmode.s3.eu-west-2.amazonaws.com/note-pin.svg" alt="AI icon" width="300">
        </div>
      </div>
      <div class="columns">
        <div class="column col-6 col-sm-12">
          <img class="p-centered" src="https://deepmode.s3.eu-west-2.amazonaws.com/design.svg" alt="Todo icon" width="300"> 
        </div>
        <div class="column col-6 col-sm-12">
          <h3>Escape "distraction by design"</h3>
          <p>
            Sites like YouTube and Facebook offer value, but they also exploit your attention by design. Deepmode removes distracting features so you can use them mindfully when you're not working.
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column col-6 col-sm-12">
          <h3>Build good attention habits</h3>
          <p>
            To beat distraction over the long term, you need to cultivate habits to become a better version of yourself. Deepmode helps you do just that.
          </p>
        </div>
        <div class="column col-6 col-sm-12">
          <img class="p-centered" src="https://deepmode.s3.eu-west-2.amazonaws.com/brain-training-icon.svg" alt="Brain training icon" width="300">
        </div>
      </div>
    </div>
  </section>
  <section id="waitlist">
    <div class="container grid-md">
      <div class="divider"></div>
      <div class="columns">
        <div class="column">
          <%- include("../partials/earlyAccess", {}) %>
        </div>
      </div>
    </div>
  </section>
  <%- include("../partials/footer", {}) %>
</body>
</html>