<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/docHead", {}) %>
  <link rel="stylesheet" href="/styles/index.css">
  <title>Awakely | Fight Distraction On The Internet</title>
</head>
<body>
  <%- include("../partials/nav", {}) %>
  <section id="splash">
    <div class="container grid-md">
      <div class="columns">
        <div class="column text-center">
          <h1>Thanks, I'll notify you when Awakely launches.</h1>
        </div>
      </div>
    </div>
    <div id="cloud-bg"></div>
  </section>
  <footer class="container grid-lg text-center">
    <div class="columns">
      <div class="column">
        © 2019 Awakely
      </div>
    </div>
  </footer>
</body>
</html>