*::selection {
  background: #341f97;
  color: #fff;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /*margin-top: -1rem;*/
  padding: 1rem 0;
}

nav .links a {
  margin: 0 1rem;
}

a.logo {
  align-items: center;
  color: #3d424e;
  display: flex;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  /*letter-spacing: 2px;*/
  margin-left: auto;
  margin-right: auto;
  /*padding: 0.5rem;*/
  text-decoration: none;
  text-transform: lowercase;
}

a.logo img {
  /*margin-right: 0.5rem;*/
}

#early-access-signup .checkbox span {
  margin-left: 0.5rem;
}

#early-access-signup .btn {
  margin-top: 0.5rem;
}

footer {
  margin-top: 3rem;
  padding-bottom: 1rem;
}
